@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

html {
  background: url("../images/blackboard.webp") no-repeat; /* Sourced from https://pixabay.com/ */
  background-size: 115vw 115vh;
  color: white;
  font-family: "Amatic SC", cursive;
  display: flex;
  justify-content: center;
}

body {
  margin-top: 2%;
  width: 1080px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form {
  display: inline-block;
  z-index: 100;
}

h1 {
  float: left;
}

h2 {
  display: none;
}

input,
button {
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
  background: none;
  box-shadow: 3px 2px rgb(255, 255, 255);
  border-radius: 5px;
  margin: 0 0.2rem;
  z-index: 100;
}

.button {
  min-height: 35px;
}

.contact,
.help {
  color: white;
  z-index: 100;
}

.contact:hover,
.help:hover {
  color: grey;
}

.game-body {
  width: 90%;
  height: 62vh;
  border: 10px solid transparent;
  border-image: url("../images/maincontainer.png") 30 round;
  margin: 0 auto;
}

.game-controls-and-letters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 55px;
}

.game-controls {
  margin-top: 1rem;
}

.game-beginning-msg {
  font-size: 40px;
  text-shadow: 2px 2px #00000086;
  font-weight: 700;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 200;
}

.game-msg-one {
  position: absolute;
  top: 14rem;
  opacity: 0;
  animation: msg-one-fade 1.5s ease-in-out 2 alternate;
}

.game-msg-two {
  position: absolute;
  top: 17rem;
  opacity: 0;
  animation: msg-two-fade 1.5s 1.5s ease-in-out 2 alternate;
}

@keyframes msg-one-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes msg-two-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.letter-input {
  width: 22px;
  margin: 0 2rem 0 -0.2rem;
  text-transform: uppercase;
}

.logo {
  height: 2rem;
}

.game-margin-left {
  margin: 0 0 0 7%;
}

.audio-mute {
  color: white;
}

.best-score {
  text-align: left;
  margin: 0 0 0 4px;
  width: 100%;
}

.speaker {
  color: white;
}

.nav-button-container {
  font-size: 25px;
  float: right;
  position: relative;
  right: 8rem;
  top: 0.1rem;
}

.loading-wheel {
  font-size: 70px;
  color: #ffffff;
  border-radius: 10%;
  z-index: 100;
}
.loading-wheel-shadow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(#00000000, #00000086);
  box-shadow: 15px 30px 40px 5px #00000086;
}

.loading-wheel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  animation: loading-fade 0.7s ease-in-out infinite alternate;
}

@keyframes loading-fade {
  0% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

/* STICKMAN GALLOWS ELEMENTS */
.hangman-gallows-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hangman-gallows-container {
  position: absolute;
  width: 320px;
  z-index: -1;
}

.invisible {
  visibility: hidden;
}

.game-drawings {
  position: relative;
}

.gallows {
  position: relative;
  height: 25rem;
  left: 5rem;
  top: 1rem;
}

.noose {
  height: 10rem;
  right: 12rem;
  bottom: 14rem;
}

.stickman-head {
  height: 6rem;
  left: 1rem;
  bottom: 18rem;
}

.stickman-body {
  height: 7rem;
  right: 3.5rem;
  bottom: 11.5rem;
}

.stickman-rarm {
  height: 1.2rem;
  right: 9.5rem;
  bottom: 16rem;
}

.stickman-larm {
  height: 1.2rem;
  left: 4.5rem;
  bottom: 20.7rem;
}

.stickman-rleg {
  height: 4rem;
  right: 8.5rem;
  bottom: 13rem;
}

.stickman-lleg {
  height: 4rem;
  right: 1rem;
  bottom: 13rem;
}

.stickman-face {
  height: 4rem;
  left: -11rem;
  bottom: 23.2rem;
}

.letterdash {
  width: 90%;
}

.letter-span {
  font-size: 39px;
}

.word-container {
  font-weight: 700;
  width: 90%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.letterdash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10%;
  max-width: 72px;
  margin: 0 0.5% 0 0.5%;
}

.display-none {
  display: none;
}

.display-flex {
  display: flex;
}

.margin-bottom-increase {
  margin-bottom: 3.2rem;
}

/* MODAL BASED ON https://www.w3schools.com/howto/howto_css_modals.asp */
.modal {
  display: none;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  padding: 250px 0 250px 0;
  top: -10rem;
  left: 0;
  width: 100%;
  height: 75vh;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 105;
}

/* Modal Content */
.modal-content {
  background-color: black;
  margin: 0 10%;
  padding: 20px;
  border: 1px solid #888;
  max-width: 1080px;
  max-height: 450px;
  overflow-y: scroll;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px) {
  .nav-button-container {
    right: 3.5rem;
  }
}

@media only screen and (max-width: 444px) {
  .nav-button-container {
    right: 1.5rem;
  }
  input,
  button {
    font-size: 23px;
    margin: 0 0.01rem;
  }
  .letter-input {
    margin: 0 1rem 0 -0.2rem;
  }
}

@media only screen and (max-width: 385px) {
  .nav-button-container {
    right: 1rem;
  }
  .letter-input {
    margin: 0 0.5rem 0 -0.2rem;
  }
  .gallows {
    position: relative;
    height: 23.75rem;
    left: 6.5rem;
    top: 1rem;
  }
  .noose {
    height: 9.5rem;
    right: 9rem;
    bottom: 13rem;
  }
  .stickman-head {
    height: 5.7rem;
    left: 4rem;
    bottom: 18rem;
  }
  .stickman-body {
    height: 6.65rem;
    right: 0.5rem;
    bottom: 11.5rem;
  }
  .stickman-rarm {
    height: 1.14rem;
    right: 5.5rem;
    bottom: 16rem;
  }
  .stickman-larm {
    height: 1.14rem;
    left: -7rem;
    bottom: 16rem;
  }
  .stickman-rleg {
    height: 3.8rem;
    right: 0rem;
    bottom: 12.5rem;
  }
  .stickman-lleg {
    height: 3.8rem;
    right: -7.5rem;
    bottom: 12.5rem;
  }
  .stickman-face {
    height: 3.8rem;
    left: -2rem;
    bottom: 23.2rem;
  }
}

@media only screen and (max-height: 800px) {
  html {
    background-size: auto;
  }
}
