@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");

body {
  background: url("../images/blackboard.webp") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Fasthand", cursive;
}

h1 {
  float: left;
  font-family: "comic sans";
}

.game-body {
  width: 90%;
  height: 40rem;
}

.game-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  height: 2rem;
}

.margin-left-2rem {
  margin: 0 0 0 2rem;
}

.nav-button-container {
  float: right;
  position: relative;
  right: 2rem;
  top: -0.4rem;
  font-size: 25px;
}

/* STICKMAN GALLOWS ELEMENTS */
.game-drawings {
  position: absolute;
}

.gallows {
  height: 25rem;
  right: 3rem;
}

.noose {
  height: 10rem;
  right: 14rem;
}

.stickman-body {
  height: 7rem;
  right: 15.5rem;
  top: 16.5rem;
}

.stickman-head {
  height: 6rem;
  right: 12.5rem;
  top: 11rem;
}

.stickman-rarm {
  height: 1.2rem;
  right: 16rem;
  top: 18rem;
}

.stickman-larm {
  height: 1.2rem;
  right: 11rem;
  top: 18rem;
}

.stickman-rleg {
  height: 4rem;
  right: 15.7rem;
  top: 22.3rem;
}

.stickman-lleg {
  height: 4rem;
  right: 12rem;
  top: 22.3rem;
}

.letterdash {
  top: 40rem;
  width: 90%;
}

.word-container {
  position: relative;
  top: 35rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.letterdash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10%;
  margin: 0 0.5% 0 0.5%;
}

/* .letterdash-1 {
  left: 2rem;
}

.letterdash-2 {
  left: 8.5rem;
}

.letterdash-3 {
  left: 15rem;
}

.letterdash-4 {
  left: 21.5rem;
}

.letterdash-5 {
  left: 28rem;
}

.letterdash-6 {
  left: 34.5rem;
}

.letterdash-3 {
  left: 15rem;
}

.letterdash-3 {
  left: 15rem;
}

.letterdash-3 {
  left: 15rem;
}

.letterdash-3 {
  left: 15rem;
}
 */
