@import url("https://fonts.googleapis.com/css2?family=Fasthand&display=swap");

body {
  background: url("../images/blackboard.webp") no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  color: white;
  font-family: "Fasthand", cursive;
}

h1 {
  float: left;
  font-family: "comic sans";
}

.display-none {
  display: none;
}

.game-body {
  width: 90%;
  height: 40rem;
}

.game-controls {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.letter-input {
  width: 2rem;
  margin: 0 3rem 0 0;
}

.logo {
  height: 2rem;
}

.margin-left-2rem {
  margin: 0 0 0 7%;
}

.nav-button-container {
  float: right;
  position: relative;
  right: 8rem;
  top: -0.4rem;
  font-size: 25px;
}

/* STICKMAN GALLOWS ELEMENTS */
.hangman-gallows-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hangman-gallows-container {
  position: absolute;
  width: 320px;
}

.game-drawings {
  position: relative;
}

.gallows {
  height: 25rem;
  left: 5rem;
  top: 5rem;
}

.noose {
  height: 10rem;
  right: 12rem;
  bottom: 10rem;
}

.stickman-head {
  height: 6rem;
  left: 1rem;
  bottom: 14rem;
}

.stickman-body {
  height: 7rem;
  right: 3.5rem;
  bottom: 7.5rem;
}

.stickman-rarm {
  height: 1.2rem;
  right: 9.5rem;
  bottom: 12rem;
}

.stickman-larm {
  height: 1.2rem;
  left: 4.5rem;
  bottom: 16.7rem;
}

.stickman-rleg {
  height: 4rem;
  right: 8.5rem;
  bottom: 9rem;
}

.stickman-lleg {
  height: 4rem;
  right: 1rem;
  bottom: 9rem;
}

.letterdash {
  width: 90%;
}

.letter-span {
  font-size: 30px;
}

.word-container {
  position: relative;
  top: 33rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.letterdash-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10%;
  max-width: 72px;
  margin: 0 0.5% 0 0.5%;
}

@media only screen and (max-width: 1288px) {
  body {
    background-size: auto;
  }
}

@media only screen and (max-width: 700px) {
  .nav-button-container {
    right: 3.5rem;
  }
  .hangman-gallows-container {
    right: 2rem;
  }
}

@media only screen and (max-width: 385px) {
  .nav-button-container {
    right: 1.5rem;
  }
  .hangman-gallows-container {
    right: 0rem;
  }
}

@media only screen and (max-width: 350px) {
  .nav-button-container {
    right: 0.5rem;
  }
  .hangman-gallows-container {
    right: -1.5rem;
  }
}
